<div id="login" class="font-poppins py-5 px-2">
    <div class="container p-lg-5">
      <h5 class="title-bold mb-5">Sign in</h5>
     
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(forgetPasswordForm)">
        <p-floatLabel>
            <input pInputText id="username" formControlName="email" />
            <label for="username">E-mail</label>
        </p-floatLabel>
        

        @if (errorMsg) {
            <p class="text-danger">{{errorMsg}}</p>
     }
        <!-- <a href="" class="primary d-flex justify-content-end mb-5">Recover Password ?</a> -->

        <app-main-button  [active]="active" (action)="forgetPassword(forgetPasswordForm)" > </app-main-button>

      </form>
    </div>
</div>