<div id="login" class="font-poppins py-5 px-2">
    <div class="container p-lg-5">
      <h5 class="title-bold mb-5">Reset Password</h5>
     
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
       
        
        <p-floatLabel>
            <p-password formControlName="newPassword" [toggleMask]="true" />
            <label for="username">Password</label>
        </p-floatLabel>
        <!-- <p-floatLabel>
            <p-password [toggleMask]="true" formControlName="rePassword" />
            <label for="username">Confirm Password</label>
        </p-floatLabel> -->


        @if (errorMsg) {
            <p class="text-danger">{{errorMsg}}</p>
     }

        <app-main-button  [active]="active" (action)="resetPassword(resetPasswordForm)" > </app-main-button>

      </form>
    </div>
</div>