:host ::ng-deep
.p-inputtext {
    width: 100%;
    padding: 0.5rem;
}
::ng-deep
.p-inputtext:enabled:focus {
    box-shadow: none;
}
::ng-deep
.p-float-label {
margin-bottom: 1.5rem;
}
::ng-deep
.p-component , .p-component *{
    width: 100%;
}

a{
    text-decoration: none;
}
