<div id="login" class="font-poppins py-3 px-2">
    <div class="container px-lg-5 py-lg-2">
      <h5 class="title-bold mb-4">Sign in</h5>
     
      <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
        <p-floatLabel>
            <input pInputText id="username" formControlName="username" />
            <label for="username">User Name</label>
        </p-floatLabel>

        <p-floatLabel>
            <input pInputText id="firstName" formControlName="firstName" />
            <label for="firstName">First Name</label>
        </p-floatLabel>

        <p-floatLabel>
            <input pInputText id="lastName" formControlName="lastName" />
            <label for="lastName">Last Name</label>
        </p-floatLabel>

        <p-floatLabel>
            <input pInputText id="email" formControlName="email" />
            <label for="email">E-mail</label>
        </p-floatLabel>

        <p-floatLabel>
            <input pInputText id="phone" formControlName="phone" />
            <label for="phone">Phone</label>
        </p-floatLabel>

        <p-floatLabel>
        <p-password formControlName="password" id="password" [toggleMask]="true" />
        <label for="password">Password</label>
        </p-floatLabel>

        <p-floatLabel>
            <p-password formControlName="rePassword" [toggleMask]="true" />
            <label for="rePassword">Confirm Password</label>
            </p-floatLabel>

        @if (errorMsg) {
            <p class="text-danger">{{errorMsg}}</p>
     }
     <p class="text-center mb-3">Already have an account? <a [routerLink]="['/']" class="primary">Login</a></p>

        <app-main-button  [active]="active" (action)="register(registerForm)" > </app-main-button>

      </form>
    </div>
</div>