<div id="profile" class="font-poppins">
    <div class="card rounded rounded-4 shadow border-0  ">
       <div class="container py-3">
        <div class="row align-items-center"
        style="height: min-content;">
            <div class="col-md-3">
                <img width="100%" src="assets/images/profile-img.svg" alt="">
            </div>

            <div class="col-md-8 offset-lg-1 pe-5">
                <h3 class="primary title-bold">Ahmed Mohamed</h3>
                <p class="gray">Voluptatem aut</p>
                <div class="">
                    <p-progressBar [value]="70" />
                </div>

                <div class="icons py-5 d-flex justify-content-between align-items-center">
                    <div class="icon">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card mb-3 rounded border-0 shadow d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-flag"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title-bold gray">27</h6>
                                <h6 class="gray">Quiz Passed</h6>
                            </div>
                        </div>
                    </div>
                    <div class="icon">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card mb-3  rounded border-0 shadow d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-clock"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title-bold gray">13 min</h6>
                                <h6 class="gray">Fastest Time</h6>
                            </div>
                        </div>
                    </div>
                    <div class="icon">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card mb-3  rounded border-0 shadow d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title-bold gray">200</h6>
                                <h6 class="gray">Correct Answers</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>