<div id="diploma-card">
    <!-- <h5 class="title-bold">Front-End Quiz</h5> -->
    <div class="card border-0 py-2 shadow rounded-4">

        <div class="d-flex justify-content-between align-items-center px-2">
            <div class=" d-flex align-items-center ">
                <img class="placeholder me-3" width="100px" height="100px"  src="../../../../assets/images/code_icon_green.svg" alt="">
                <div class="content">
                    <h5>{{Exam.title}}</h5>
                    <P>{{Exam.numberOfQuestions}} Question</P>
                </div>
            </div>
          
            <div class="">
                <p>{{Exam.duration}} Minutes</p>
                <app-main-button [active]="'Start'" />
            </div>
        </div>

    </div>
</div>