<div id="home">
    <div class="container-fluid py-lg-5 py-2">
        <div class="row">
            <div class="col-lg-2 ">
                <!-- sidebar -->
                 <app-side-bar/>
            </div>
            <div class="col-lg-10 col-md-12 position-relative ">
                <div class="search row ">
                    <div class="col-lg-8 col-md-6 col-sm-6">
                        <app-input-search/>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4" >
                        <app-main-button [active]="active"/>
                    </div>
                    <div class="col-2">
                        <app-profile-icon />
                    </div>
                </div>
                    <div class="md-search w-75 text-white ">
                        <div>
                            <i class="fa-solid fs-3 fa-magnifying-glass"></i>
                        </div>
    
                        <app-profile-icon />
                </div>
                  <!-- router-outlet -->
                   <router-outlet />
            </div>
             
        </div>
    </div>
</div>