::ng-deep
.p-galleria .p-galleria-indicators .p-galleria-indicator button {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.3rem;
}

::ng-deep
.p-galleria-item {
    display: block;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

::ng-deep
.p-radiobutton .p-radiobutton-box{
margin-right: 1rem;
}
/* 
::ng-deep
.p-galleria .p-galleria-item-nav .p-icon-wrapper .p-icon {
   background-color: red;
    position: relative;
    bottom: -40%; 
    
} */

::ng-deep
.p-galleria .p-galleria-item-nav {
    background-color: aqua;
    color: transparent;
    width: 8rem;
    height: 3rem;
    position: absolute;
    top: 100%;

}


.dot{
    height: 0.5rem;
    width: 0.5rem;
    background-color: rgb(201, 199, 199);
    border-radius: 50%;
}